* {
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: center;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imglogo {
    width: 100%;
}

.voltar {
    background-color: rgb(255, 255, 255);
    color: rgb(218, 0, 0);
    padding: 1% 5%;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 90%;
}

.titulo {
    text-shadow: 1px 1px 0 #525252;
    letter-spacing: 3px;
    font-size: 150%;
    text-align: center;
}

.imgpo {
    width: 100%;
}